* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0 auto;
  background-color: gray;
}
header {
  display: flex;
  justify-content: center;

}
.controls-wrapper{
  background-image: ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: black;
  float: left;
  border: 1px solid gray;
  margin: 0px 40px 0px 200px;
  height: 80vh;
  width: 150px;
  padding: 20px 0px 20px 2px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.9);
}

.playerControls img{
  height: 25px;
}

.grid-wrapper {
  height: 90vh;
  width: 600px;
  display: flex;
  justify-content: center;
  color: white;
  margin: 0px 0px 0px 20px;
  padding: 0px;
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.9);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 600px;
  width: 600px;
  background-image: url(https://media.istockphoto.com/photos/gym-space-picture-id1263905214?b=1&k=20&m=1263905214&s=170667a&w=0&h=d_AcACSLVm0CuPurs1ttrmWJKDZHQ9XnurdN5wkrwqw=);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0px 0px 0px 0px;
}

.grid div {
border: none;
flex-grow: 1;
height: 5%;
width: 5%;
}

.grid div.burger {
  background-image: url(../Images/burger.png);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.dumbbell {
  background-image: url(../Images/dumbell2.png);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
.grid div.playerLaser {
  background-image: url(../Images/fries.png);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.computerLaser {
  background-image: url(../Images/celery.png);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}