* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
}

.grid-wrapper {
  height: 90vh;
  display: flex;
  justify-content: center;
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 600px;
  width: 600px;
}

.grid div {
border: 1px solid gray;
flex-grow: 1;
height: 10%;
width: 10%;
}

.grid div.burger {
  background-image: url(../Images/burger.png);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.dumbbell {
  background-image: url(../Images/dumbell2.png);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
.grid div.playerLaser {
  background-image: url(../fries.png);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}